{% extends 'qr_list/base.html' %}

{% block title %}QR create{% endblock %}

{% block content %}

	<h2>Создать QR код</h2>
	<form action="{% url 'qr_create_url' %}" method="post">
		{% csrf_token %}
{% for field in form %}
	
	{% if field.errors %}
		{{ field.errors }}
	{% endif %}

{{ field }}  {{ field.label }} <br>
{% endfor %}
	
		<button type="submit" class="btn btn-primary">Сохранить QR код</button>
		<button type="submit"><a href={% url 'base_page' %} > Отмена</a></button>

	</form>

{% endblock %}