{% extends 'qr_list/base.html' %}
{% load static %}
{% block title %}{{ detail.qr_name }}{% endblock %}

{% block content %}
<table border="12">
<tr>
<th>Название QR кода</th>
<th>дата создания</th>
<th>City</th>
<th>Campaign</th>
<th>Source</th>
<th>Product</th>
<th>счетчик</th>
</tr>
<tr>

<td>{{ detail.qr_name }}</td>
<td>{{ detail.qr_date }}</td> 
<td>{{ detail.qr_city }}</td>
<td>{{ detail.qr_campaign }}</td>
<td>{{ detail.qr_source }}</td>
<td>{{ detail.qr_product }}</td> 
<td>{{ detail.qr_quantity }}</td> 
</tr>
</table>
<hr>
<button  type="submit" ><a href="{{ detail.get_update_url }}">редактирование QR кода</a></button>&nbsp
<button  type="submit"><a href="{{ detail.get_delete_url }}">удаление QR кода</a></button><br>

<img src="{% static 'qr_list/qr.png' %}"/><br>
<button  type="submit"><a href="{% static 'qr_list/qr.png' %}" download="qr_code.png">Сохранить в PNG</a></button>&nbsp
<button  type="submit"><a href="{% static 'qr_list/qr.jpg' %}" download="qr_code.jpg">Сохранить в JPG</a></button>&nbsp
<button  type="submit"><a href="{% static 'qr_list/qr.pdf' %}" download="qr_code.pdf">Сохранить в PDF</a></button>

{% endblock %}

