{% extends 'qr_list/base.html' %}

{% block title %}QR{% endblock %}



{% block content %}

{% if latest_list %}

<table>
<tr>
<th>Название QR кода</th>
<th>дата создания</th>
<th>City</th>
<th>Campaign</th>
<th>Source</th>
<th>Product</th>
<th>счетчик</th>
</tr>

	{% for a  in latest_list %}
	<tr>
		<td><a href="{{a.get_absolute_url}}">{{a.qr_name}}</a></td>
		<td><a>{{a.qr_date}}</a></td>
		<td><a>{{a.qr_city}}</a></td>
		<td><a>{{a.qr_campaign}}</a></td>
		<td><a>{{a.qr_source}}</a></td>
		<td><a>{{a.qr_product}}</a></td>
		<td><a>{{a.qr_quantity}}</a></td>
		<td><button><a href="{{admin_url}}{{a.id}}/change/">редактирование</a></button></td>
		<td><button><a href="{{admin_url}}{{a.id}}/delete/">удаление</a></button></td>
		<td><button><a href="#">получение QR кода</a></button></td>

	</tr>

	{% endfor %}

 </table>
{% else %}
Кодов еще нет. Их нужно создать.
{% endif %}


{% endblock %}